body {
    background: lightgrey;
    font-family: Optima, sans-serif;
  } 

#header {
=    font-family: Verdana, sans-serif;
    font-weight: normal;
    background: white
}

h3 {
  padding-top: 10px;
  text-align: center;
  font-size: 24px;
  color: white;
}

img {
  max-width: 600px;
  margin-left: 50%;
  margin-right: 50%;
}

.place {
  position: relative;
  word-wrap: normal;
  text-align: center;
  max-width: 100%;
}

.img-text {
  /* position:relative; */
  margin-top: 50px;
  max-width: 500px
  text-align: center;
}

.place img {
  /* position: relative; */
  /* top: -50px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: -100px;
}