body {
    background: lightgrey;
    font-family: Optima, sans-serif;
  } 

#header {
    background: white;
}

img {
  max-width: 600px;
}

.place {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  position: relative;
  justify-items: center;
}

h3 {
  padding-top: 10px;
  text-align: center;
  font-size: 24px;
  color: white;
  grid-column: 2;
}

.img-text {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  max-width: 600px;
  margin-top: 50px;
}

.place img {
  grid-row: 2;
  grid-column: 2;
}